@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: 500;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.button
{
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(108, 243, 255);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 45, 68);
    text-decoration: none;
    letter-spacing: 1px;
    border-style: ridge;
    border-color: rgba(17, 45, 68, 0.3);
    border-top: 0.5px solid rgba(17, 45, 68, 0.8);
    border-right: 0.5px right rgba(17, 45, 68, 0.8);
    padding-left: 90px;
    transition: 0.5s;
}

.button:hover
{
    padding-left: 130px;
    padding-right: 0px;
    color: rgba(17, 45, 68, 1);
}

.button.active 
{
    background-color: rgba(17, 45, 68, 1);

}

.button.active span
{
    left: calc(100% - 100px);
}

.button span
{
    position: absolute;
    left: -1px;
    width: 115px;
    height: 115px;
    background: rgba(17, 45, 68, 1);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
.button:hover span{
    left: calc(100% - 370px);
}

.button:after
{
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-320px) skewX(30deg);
    transition: 0.75s ease-in-out;
}

.button:hover:after
{
    transform: translateX(320px) skewX(30deg);
}